# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
OpenCLI-main/
dist-electron/
node_modules/
vendor/
vendor/chromium/metadata.json
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_100_percent.pak
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_200_percent.pak
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_elf.dll
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_proxy.exe
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_pwa_launcher.exe
vendor/chromium/chromium/win64-1628189/chrome-win/chrome_wer.dll
vendor/chromium/chromium/win64-1628189/chrome-win/chrome.dll
vendor/chromium/chromium/win64-1628189/chrome-win/chrome.exe
vendor/chromium/chromium/win64-1628189/chrome-win/D3DCompiler_47.dll
vendor/chromium/chromium/win64-1628189/chrome-win/dxcompiler.dll
vendor/chromium/chromium/win64-1628189/chrome-win/dxil.dll
vendor/chromium/chromium/win64-1628189/chrome-win/elevated_tracing_service.exe
vendor/chromium/chromium/win64-1628189/chrome-win/elevation_service.exe
vendor/chromium/chromium/win64-1628189/chrome-win/eventlog_provider.dll
vendor/chromium/chromium/win64-1628189/chrome-win/First Run
vendor/chromium/chromium/win64-1628189/chrome-win/icudtl.dat
vendor/chromium/chromium/win64-1628189/chrome-win/interactive_ui_tests.exe
vendor/chromium/chromium/win64-1628189/chrome-win/libEGL.dll
vendor/chromium/chromium/win64-1628189/chrome-win/libGLESv2.dll
vendor/chromium/chromium/win64-1628189/chrome-win/notification_helper.exe
vendor/chromium/chromium/win64-1628189/chrome-win/resources.pak
vendor/chromium/chromium/win64-1628189/chrome-win/setup.exe
vendor/chromium/chromium/win64-1628189/chrome-win/v8_context_snapshot.bin
vendor/chromium/chromium/win64-1628189/chrome-win/vk_swiftshader_icd.json
vendor/chromium/chromium/win64-1628189/chrome-win/vk_swiftshader.dll
vendor/chromium/chromium/win64-1628189/chrome-win/vulkan-1.dll
vendor/chromium/chromium/win64-1628189/chrome-win/IwaKeyDistribution/iwa-key-distribution.pb
vendor/chromium/chromium/win64-1628189/chrome-win/IwaKeyDistribution/manifest.json
vendor/chromium/chromium/win64-1628189/chrome-win/MEIPreload/manifest.json
vendor/chromium/chromium/win64-1628189/chrome-win/MEIPreload/preloaded_data.pb
vendor/chromium/chromium/win64-1628189/chrome-win/PrivacySandboxAttestationsPreloaded/manifest.json
vendor/chromium/chromium/win64-1628189/chrome-win/PrivacySandboxAttestationsPreloaded/privacy-sandbox-attestations.dat
vendor/chromium/chromium/win64-1628189/chrome-win/locales/af_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/af_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/af_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/af.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/am_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/am_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/am_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/am.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar-XB_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar-XB_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar-XB_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar-XB.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ar.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bg_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bg_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bg_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bg.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bn_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bn_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bn_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/bn.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ca_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ca_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ca_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ca.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/cs_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/cs_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/cs_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/cs.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/da_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/da_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/da_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/da.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/de_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/de_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/de_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/de.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/el_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/el_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/el_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/el.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-GB_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-GB_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-GB_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-GB.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-US_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-US_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-US_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-US.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-XA_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-XA_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-XA_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/en-XA.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es-419_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es-419_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es-419_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es-419.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/es.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/et_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/et_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/et_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/et.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fa_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fa_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fa_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fa.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fi_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fi_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fi_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fi.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fil_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fil_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fil_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fil.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fr_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fr_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fr_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/fr.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/gu_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/gu_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/gu_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/gu.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/he_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/he_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/he_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/he.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hi_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hi_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hi_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hi.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hr_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hr_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hr_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hr.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hu_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hu_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hu_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/hu.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/id_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/id_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/id_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/id.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/it_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/it_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/it_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/it.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ja_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ja_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ja_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ja.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/kn_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/kn_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/kn_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/kn.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ko_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ko_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ko_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ko.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lt_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lt_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lt_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lt.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lv_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lv_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lv_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/lv.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ml_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ml_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ml_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ml.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/mr_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/mr_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/mr_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/mr.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ms_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ms_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ms_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ms.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nb_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nb_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nb_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nb.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nl_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nl_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nl_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/nl.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pl_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pl_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pl_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pl.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-BR_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-BR_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-BR_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-BR.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-PT_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-PT_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-PT_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/pt-PT.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ro_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ro_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ro_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ro.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ru_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ru_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ru_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ru.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sk_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sk_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sk_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sk.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sl_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sl_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sl_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sl.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sr_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sr_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sr_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sr.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sv_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sv_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sv_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sv.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sw_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sw_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sw_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/sw.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ta_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ta_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ta_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ta.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/te_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/te_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/te_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/te.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/th_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/th_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/th_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/th.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/tr_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/tr_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/tr_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/tr.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/uk_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/uk_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/uk_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/uk.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ur_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ur_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ur_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/ur.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/vi_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/vi_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/vi_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/vi.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-CN_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-CN_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-CN_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-CN.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-TW_FEMININE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-TW_MASCULINE.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-TW_NEUTER.pak
vendor/chromium/chromium/win64-1628189/chrome-win/locales/zh-TW.pak
vendor/node-runtime/node.exe
node_modules/.package-lock.json
node_modules/.package-lock.json
